<div class="search-banner hidden-md hidden-lg">
   <div class="search-box">
      <%= form_tag trips_path, class: "new-search-bar", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control form-control-sm",
          style: "font-size: 14px; width: 300px",
          id: "index-search",
          placeholder: "Rechercher une destination"%>
        <%= submit_tag value="Go", class: "btn-default"  %>
      <% end %>
  </div>

</div>

<div class="trips-title">
  <h1><%= @title %> </h1>
</div>

<div class="cards">
  <% @trips.each do |trip| %>
  <div class="card card-margin">
    <div class="card-title">
      <h3> <%= trip.address %></h3></br>
      <p> <%= trip.title %></p>
      <%nb_steps = Step.where(trip_id: trip.id).length %>
      <div class="">
      <p class="blank-steps"> <i class="fas fa-project-diagram"></i> <%= pluralize nb_steps, "étape" %></p>
      </div>
      <div >
        <% trip_creator = User.find(trip.user_id) %>
        <% if trip_creator.photo.file.nil? %>
            <%=image_tag 'user.jpg', class: "small-profile-avatar card-avatar" %>
          <% else %>
             <%= cl_image_tag trip_creator.photo, crop: :thumb, gravity: :face, width: 300 , height: 300, class: "small-profile-avatar card-avatar" %>
          <% end %>
      </div>
    </div>
      <% if trip.photo.blank? %>
        <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5)),
           url('images/trip.jpg')">
      <% else %>
        <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path trip.photo, height: 200, width: 300, crop: :fill %>')">
      <% end %>
        </div>

        <div class="card-dates">
          <p>
            <%= trip.date_begin.strftime("%-d %b %y") %> au
            <%= trip.date_end.strftime("%-d %b %y") %>
          </p>
        </div>

        <%= link_to "", trip_path(trip), class: "card-show-link" %>
    </div>
  <% end %>
</div>


