<div class="title">
  <h1>Mes voyages</h1>
</div>

<div class="cards">
  <% @trips.each do |trip| %>
    <div class="card">
      <div class="card-title">
        <h3> <%= trip.title %></h3>
       </div>
       <!-- <p> <%#= @number_steps %> étapes</p> -->
      <div class="card-dates">
        <p> Du
          <%= trip.date_begin.strftime("%-d %b %y") %> au
          <%= trip.date_end.strftime("%-d %b %y") %>
        </p>
      </div>
      <%= link_to "", trip_path(trip), class: "card-show-link" %>
    </div>
  <% end %>
<div class="card card-add-trip">
  <i class="fas fa-plus-circle"></i>
  <%= link_to "Créer un nouveau voyage", new_trip_path %>
</div>
</div>

