<div class="title">
  <h1>Mes voyages</h1>
</div>

<div class="cards">
  <% @trips.each do |trip| %>
    <div class="card">
      <div class="card-title">
        <h3> <%= trip.title %></h3>
       </div>
       <!-- <p> <%#= @number_steps %> étapes</p> -->
      <div class="card-dates">
        <p> Du
          <%= trip.date_begin %> au
          <%= trip.date_end %>
        </p>
      </div>
      <%= link_to "", trip_path(trip), class: "show-link" %>
    </div>
  <% end %>
</div>

<div class="links">
  <%= link_to "Créer un nouveau voyage", new_trip_path %>
</div>
