<h1>Créer un nouveau voyage</h1>

<div class="form-container">
<div class="newtrip-form">
  <%= simple_form_for @trip do |f| %>
    <%= f.input :address, label: 'Localisation' %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <div class="date-form">
      <%= f.input :date_begin, label: 'Date début', as: :string, input_html: {class: "datepicker_start"} %>
      <%= f.input :date_end, label: 'Date fin', as: :string, input_html: {class: "datepicker_end"} %>
    </div>
    <%= f.submit "Créer mon voyage", class: "btn btn-primary" %>
    <%= link_to "Retour à mon compte", user_path(current_user) %>
  <% end %>
</div>
</div>
