<div class="trip-banner">
<% if @trip.photo.blank?  %>
  <div class="step-banner-part" style="background-color: #a8c6f7">
<% else %>
  <div class="step-banner-part" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('<%= cl_image_path @trip.photo, crop: :fill%>'); background-size: cover; background-position: center;">
<% end %>
    <h1><%= @trip.address %></h1>
    <h4>Du <%= @trip.date_begin.strftime("%-d %b %y") %> au <%= @trip.date_end.strftime("%-d %b %y") %> (<%= (@trip.date_end - @trip.date_begin).to_i %> nuits)</h4>
    <p><%= @trip.title %></p>
    <div><p class="blank-steps"> <i class="fas fa-project-diagram"></i> <%= @steps.length %> étapes</p></div>
    <% if current_user.id == @trip.user_id  %>
    <div class="edit-trip-link">
      <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_trip_path(@trip) %>
    </div>
    <% end %>
  </div>
  <div class="step-banner-part">
  <div
  id="map"
  style="width: 100%;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
></div>
  </div>
</div>


    <% if current_user.id == @trip.user_id  %>
    <div class="global-container">
      <div class="steps-cards-container">
        <%= render 'steps/user_steps' %>
        <div class="step-card">
          <%= link_to "ajouter une étape", new_trip_step_path(@trip) %>
        </div>
      </div>
      <div class="step-advice">
        <h3>Conseils pratiques</h3>
        <ul>
          <% @tips.each do |tip| %>
          <li><%= tip %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <% else %>
    <div class="global-container">
    <div class="steps-cards-container">
      <%= render 'steps/steps' %>
    </div>
    <div class="step-advice">
    <h3>Conseils pratiques</h3>
    <ul>
      <% @tips.each do |tip| %>
      <li><%= tip %></li>
      <% end %>
    </ul>
    </div>
    </div>

    <% end %>



