<div class="trip-banner">
  <h1><%= @trip.title %></h1>
  <h4>Du <%= @trip.date_begin.strftime("%-d %b %y") %> au <%= @trip.date_end.strftime("%-d %b %y") %> (<%= (@trip.date_end - @trip.date_begin).to_i %> nuits)</h4>
  <p class= "text-center"><%= @steps.length %> étapes</p>
</div>



  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>



<div class="steps-cards-container">
        <%= render 'steps/index' %>
  <div class="step-card">
    <%= link_to "Ajouter une étape", new_trip_step_path(@trip)  %>
  </div>
</div>

