<div class="trip-banner">
   <% if @trip.photo.blank?  %>
        <div class="step-banner-part" style="background-color: #a8c6f7">
      <% else %>
        <div class="step-banner-part" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('<%= cl_image_path @trip.photo, crop: :fill%>'); background-size: cover; background-position: center;">
      <% end %>
  <h1><%= @trip.address %></h1>
  <h4>Du <%= @trip.date_begin.strftime("%-d %b %y") %> au <%= @trip.date_end.strftime("%-d %b %y") %> (<%= (@trip.date_end - @trip.date_begin).to_i %> nuits)</h4>
  <p><%= @trip.title %></p>
  <p class="blank-steps text-center"> <i class="fas fa-project-diagram"></i> <%= @steps.length %> étapes</p>



<% if current_user.id == @trip.user_id  %>
  <div class="edit-trip-link">
  <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_trip_path(@trip) %>
  </div>
<% end %>

</div>
<div class="step-banner-part">

  <div
  id="map"
  style="width: 100%;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
></div>
</div>

</div>

<h3>Les incontournables du voyage </h3>
<h3>Conseils pratiques</h3>
<h3>Les étapes du voyage</h3>

<div class="steps-cards-container">
        <%#= render 'steps/index' %>
<% if current_user.id == @trip.user_id  %>
    <%= render 'steps/user_steps' %>
<!--   </div>
<div class="steps-cards-container"> -->
  <div class="step-card">
    <%= render 'steps/new' %>
  </div>
</div>

<% else %>
  <%= render 'steps/steps' %>
</div>

<% end %>
