<div class="users-container">
<h1> Rechercher un profil</h1>
 <div class="user-search">
   <!-- <div class="search-box"> -->
    <%= form_tag users_path, class: "new-search-bar", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control form-control-sm",
        style: "font-size: 14px;",
        id: "user-search",
        placeholder: "Chercher"%>
      <%= submit_tag value="Go", class: "btn-default"  %>
    <% end %>
  <!-- </div> -->
 </div>

 <div class="users-search-result">
 <ul>
  <% @users.each do |user| %>
    <%unless user == current_user %>
      <% if current_user.following.include? user %>
        <p><%= cl_image_tag user.photo, crop: :thumb, gravity: :face, width: 300 , height: 300, class: "big-profile-avatar"%> <%= user.name %> - <%= user.email %> | <span style="color: green; font-style: italic;">Abonné(e)</span></p>
      <% else %>
      <p>  <%= cl_image_tag user.photo, crop: :thumb, gravity: :face, width: 300 , height: 300, class: "big-profile-avatar"%> <%= user.name %> - <%= user.email %> | <%= link_to "Suivre",  user_relationships_path(user.id), method: :post%></p>
      <% end %>
    <% end %>
  <% end %>
  </ul>
</div>
</div>
