<div class="navbar">

  <div class="navbar-left">
    <!-- <i class="fas fa-map"></i> -->
    <%= link_to 'Trip Trap', root_path %>
  </div>

  <% if user_signed_in? %>

  <!-- LARGE DEVICE -->

  <div class="navbar-right hidden-xs hidden-sm">
    <div class="navbar-right">

      <div class="navbar-item">
        <div class="search-box">
          <%= form_tag trips_path, class: "new-search-bar", method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control form-control-sm",
              style: "font-size: 14px; width: 300px",
              id: "index-search",
              placeholder: "Rechercher une destination"%>
            <%= submit_tag value="Go", class: "btn-default"  %>
          <% end %>
        </div>
      </div>
      <div class="navbar-item">
        <%= link_to  trips_path do %>
          <i class="fas fa-home"></i>
          <p>Accueil</p>
        <% end %>
      </div>
      <div class="navbar-item">
        <%= link_to  do %>
          <i class="fas fa-bookmark"></i>
          <p>Enregistrements</p>
        <% end %>
      </div>
      <div class="navbar-item">
        <%= link_to  user_path(current_user) do %>
          <i class="fas fa-user"></i>
          <p>Compte</p>
        <% end %>
      </div>
    </div>
  </div>

  <!-- SMALL DEVICE -->
  <div class="navbar-right hidden-md hidden-lg">
    <div class="navbar-item">
        <%= link_to  trips_path do %>
          <i class="fas fa-search"> </i>
          <p>Rechercher</p>
        <% end %>
      </div>
      <div class="navbar-item">
        <%= link_to  trips_path do %>
          <i class="fas fa-home"></i>
          <p>Accueil</p>
        <% end %>
      </div>
      <div class="navbar-item">
        <%= link_to  do %>
          <i class="fas fa-bookmark"></i>
          <p>Enregistrements</p>
        <% end %>
      </div>
      <div class="navbar-item">
        <%= link_to  user_path(current_user) do %>
          <i class="fas fa-user"></i>
          <p>Compte</p>
        <% end %>
      </div>
    </div>
  </div>

  <%else %>

    <div class="navbar-right">
      <div class="navbar-item btn-blue">
        <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path%>
      </div>
      <div class="navbar-item navbar-btn-white">
        <%= link_to t(".sign_up", default: "Créer un compte"),  new_user_registration_path %>
      </div>
    </div>

  <% end %>

</div>
