<div class="navbar">

  <div class="navbar-left">
    <i class="fas fa-map"></i>
    <%= link_to 'My Holidays Book', root_path %>
  </div>

  <% if user_signed_in? %>

  <!-- LARGE DEVICE -->

  <!-- <div class="navbar-right hidden-xs hidden-sm"> -->
    <div class="navbar-right">

      <div class="navbar-item">
        <%= link_to '<i class="fas fa-search"> </i>'.html_safe, trips_path %>
      </div>

      <div class="navbar-item">
        <div class="dropdown">
          <% if current_user.photo.file.nil? %>
            <% user_avatar = 'user.jpg' %>
            <%=image_tag user_avatar, class: "small-profile-avatar dropdown-toggle", id: "navbar-menu", "data-toggle" => "dropdown" %>

          <% else %>
            <% user_avatar = current_user.photo %>
            <%= cl_image_tag user_avatar, crop: :thumb, gravity: :face, width: 300 , height: 300, class: "small-profile-avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

          <% end %>
          <%# user_avatar = 'user.jpg' %>

          <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
            <!-- <li><%#= link_to "Rechercher un voyage", trips_path %> </li> -->
            <li><%= link_to "Mon compte", user_path(current_user) %></li>

            <li><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
            </li>
          </ul>
        </div>
      </div>


    </div>

  <%else %>

    <div class="navbar-right">
      <div class="navbar-item">
        <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-link btn-blue" %>
      </div>
      <div class="navbar-item">
        <%= link_to t(".sign_up", default: "Créer un compte"),  new_user_registration_path, class: "navbar-link" %>
      </div>
    </div>

  <% end %>

</div>
