<h1>Modifier l'étape</h1>

<div class="form-container">
<div class="newtrip-form">
  <%= simple_form_for [@step] do |f| %>
    <%= f.input :address, label: 'Localisation' %>
    <%= cl_image_tag @step.photo, class: "big-profile-avatar"%>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>

    <div class="date-form">
      <%#= f.input :date_begin, as: :date, label: 'Date début', selected: @trip.steps.last.date_end %>
        <%#= f.input :date_end, label: 'Date fin', selected: @trip.date_end%>
        <%= f.input :night, label: 'Nombre de nuits'%>
    </div>

    <%= f.input :comment, label: "Description de l'étape", as: :text%>
    <%= f.input :love_tag, label: "Coup de coeur"%>


    <%= f.submit "Modifier l'étape", class: "btn btn-primary" %>
  <% end %>
</div>
</div>
