<h1>Ajouter une étape à mon voyage</h1>

<div class="form-container">
<div class="newtrip-form">
  <%= simple_form_for [@trip, @step] do |f| %>
    <%= f.input :place, label: 'Place' %>
    <%= f.input :date_begin, as: :date, label: 'Date début', selected: @trip.date_begin %>
    <%= f.input :date_end, label: 'Date fin', selected: @trip.date_end%>
    <%= f.input :comment, label: "Commentaire"%>
    <%= f.input :love_tag, label: "Coup de coeur"%>
    <%#= f.input :photo, label: 'Ajouter une photo' %>

    <%= f.submit "Ajouter l'étape", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Pas d'autre étape à ajouter", trip_path(@trip) %>
</div>
</div>
