<h1>Ajouter une étape à mon voyage</h1>

<div class="form-container">
<div class="newtrip-form">
  <%= simple_form_for [@trip, @step] do |f| %>
    <%= f.input :place, label: 'Place' %>
    <%= f.input :date_begin, as: :date, label: 'Date début' %>
    <%= f.input :date_end, label: 'Date fin'%>
    <%= f.input :comment, label: "Détail de l'étape"%>
    <%= f.input :love_tag, label: "Coup de coeur"%>
    <%= f.input :hotel, label: 'Hébergement'%>
    <%= f.input :hotel_price, label: 'Prix (€/nuit)'%>

    <%#= f.input :photo, label: 'Ajouter une photo' %>

    <%= f.submit "Ajouter l'étape", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Pas d'autre étape à ajouter", trip_path(@trip) %>
</div>
</div>
