<div class="form-container">
  <div class="newtrip-form">
    <%= simple_form_for [@step, @hotel] do |f| %>
      <%= f.input :address, label: 'Hotel' %>
      <%= f.input :name, label: 'Commentaire' %>
      <%= f.input :price, label: 'Prix' %>
      <%#= f.input :love_tag, label: "Coup de coeur"%>

      <%= f.submit "Modifer", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to hotel_path(@hotel.id),  method: :delete, data: { confirm: "Are you sure?" } do %>
  <i class="far fa-trash-alt">Supprimer</i>
<% end %>
